---
import Component from "../components/Component.astro";
import Experience from "../components/experience/index.astro";
import { SOCIALS } from "../data/socials";
import Layout from "../layouts/Layout.astro";
import { Animation } from "../components/TextAnimation";
import { technologies } from "../data/technologies";
import { getCollection, type CollectionEntry } from "astro:content";

const proyects = (await getCollection(
  "experience"
)) as CollectionEntry<"experience">[];
---

<Layout title="José Francisco Mejía">
  <div class="relative hero z-10">
    <div
      class="mx-auto sm:min-h-screen sm:max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div>
        <header
          class="lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:pt-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img
              src="/avatar.webp"
              alt="Jose Francisco Foto"
              class="w-16 h-16 rounded-full"
            />
            <div>
              <a
                href="/"
                class="block text-4xl lg:text-5xl font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <Animation contenido="FRANCISCO" client:load />
                <Animation contenido="MEJIA" client:load />
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Entusiasta Frontend Developer
              </h2>

              <a
                data-ccursor
                href="mailto:franciscobaltodano2003@gmail.com"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Contactame</span>

                <span
                  class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"
                >
                </span>
              </a>
            </div>
          </div>

          {
            SOCIALS.length && (
              <ul
                class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                aria-label="Social media"
              >
                {SOCIALS.map((social) => (
                  <li class="text-xs p-2 rounded" data-ccursor>
                    <a
                      class="block hover:text-slate-200"
                      href={social.url}
                      target="_blank"
                      rel="noreferrer noopener"
                      aria-label={`${social.name} (opens in a new tab)`}
                    >
                      <span class="sr-only">{social.name}</span>
                      {<Component component={social.icon} />}
                    </a>
                  </li>
                ))}
              </ul>
            )
          }
        </header>

        <main id="content" class="pt-12 lg:py-24">
          <section
            id="aboutme"
            class="mb-16 scroll-mt-16 md:mb-24 lg:w-5/6 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div>
              <div class="flex mb-4 space-y-4">
                <p class="text-2xl">
                  <span class="text-yellow-300">Ingenierio en Sistemas</span>
                  especializado en el desarrollo de sitios y aplicaciones web. Apasionado
                  por el frontend, creo interfaces de usuario intuitivas y atractivas
                  que mejoran la experiencia del cliente. Combinando conocimientos
                  en tecnologías frontend, backend y bases de datos, ofrezco soluciones
                  integrales que ayudan a las empresas a optimizar su presencia en
                  línea y a impulsar su crecimiento.
                </p>
              </div>
            </div>
          </section>

          <section
          id="sobre mí"
          class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
          aria-label="About me"
        >
          <div
            class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:mx-auto lg:w-full lg:px-0"
          >
            <h2
              class="text-sm font-bold uppercase tracking-widest text-neutral-200"
            >
              Sobre mi
            </h2>
          </div>
          <div>
            <div class="mb-4 space-y-4">
              <p>
                Desde niño, he sido apasionado por la tecnología y actualmente diseño interfaces de usuario atractivas.
                Dedico mi tiempo a mejorar mis habilidades, llevando mis conocimientos al siguiente nivel.
                Soy una persona realista, adaptable, creativa, y responsable con un gran deseo de trabajar, experimentar y aprender.
              </p>

              <p>
                Mi objetivo es seguir aprendiendo para ayudar a los demás a través de la tecnología.
              </p>

              <p>
                En mi tiempo libre, disfruto leer, escuchar música y jugar videojuegos.
              </p>
            </div>
          </div>
        </section>

          <section
            id="skills"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="skills"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:mx-auto lg:w-full lg:px-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200"
              >
                Habilidades
              </h2>
            </div>
            <div>
              <div class="space-y-4">
                <ul
                  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8 justify-items-center"
                >
                  {
                    technologies.map((tech) => (
                      <li class="hover:scale-150 transition-all relative flex flex-col items-center group">
                        {/* Ícono */}
                        <div class="w-12 h-12 flex justify-center items-center">
                          <Component component={tech.icon} class="w-10 h-10" />
                        </div>

                        {/* Nombre visible en hover */}
                        <span class="absolute bottom-0 transform translate-y-4 opacity-0 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 bg-gray-800 text-white text-xs rounded-md px-2 py-1">
                          {tech.name}
                        </span>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>
          </section>

          <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200"
              >
                Experiencia
              </h2>
            </div>
            <div>
              {
                proyects.map((proyect) => {
                  const { slug, data } = proyect;

                  return <Experience slug={slug} {...data} />;
                })
              }
            </div>
          </section>

        

          <footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
          </footer>
        </main>
      </div>
    </div>
  </div>

  <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} Todos los derecho reservados.
  </footer>
</Layout>

<style>
  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }
</style>
